/* Variables */

:root {
  --black-color:#000000;
  --dark-color:#333333;
  --black-light-opacity:rgba(0, 0, 0, 0.3);
  --gray-extra-dark-color:#6A6A6A;
  --gray-dark-color:#666666;
  --gray-color:#A9A9A9;
  --gray-basic-color: #ABABAB;
  --gray-light-color: #EEEEEE;
  --gray-middle-light:#EBEBEB;
  --gray-extra-light-color:#F2F2F2;
  --gray-border-color:#E5E5E5;
  --gray-sort-color:#CACACA;
  --gray-developer-color:#BDBBBC;
  --gray-basic-opacity:rgba(171, 171, 171, 0.3);
  --white-color:#FFFFFF;
  --white-basic-opacity: rgba(255, 255, 255, 0.9);
  --white-light-opacity: rgba(255, 255, 255, 0.3);
  --blue-color:#81B3D2;
  --blue-hover-color:#669EC0;
  --blue-focus-color:#5496BD;
  --brown-color:#766357;
  --brown-hover-color:#604E43;
  --brown-focus-color:#503E33;
  --basic-shadow: 0px 7px 15px rgba(0, 1, 1, 0.15);
  --block-shadow: 0px 5px 15px rgba(0, 1, 1, 0.2);
}

/* Global */

html {
  background-color: var(--gray-extra-light-color);
}

body {
  min-width: 1200px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
  color: var(--dark-color);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.main-heading,
.inverse-heading,
.page-heading,
.search-heading,
.hotels-heading,
.hotels-caption,
.caption,
.inner-caption,
.wrap-caption {
  margin-top: 0;
  margin-bottom: 0;
} 

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.button-reset {
  border: 0;
  background-color: transparent;
}

.input-number-reset::-webkit-inner-spin-button,
.input-number-reset::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.full-width {
  display: block;
  margin: 0 auto;
  width: 100%;
}

.block-centering {
  margin: auto;
}

.item-centering {
  padding: 47px 0 54px;
  flex-basis: calc(100% / 3);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.content-indent {
  padding-left: 73px;
  padding-right: 73px;
}

/* Grids */

.container {
  width: 1200px;
  margin: 0 auto;
  background-color: var(--white-color);
  box-shadow: var(--block-shadow);
}

.page-body {
  display: grid;
  grid-template-rows: auto auto;
}

.main-page {
  grid-row: 2 / 3;
  grid-column: 1 / -1;
  z-index: 1;
}

.page-footer {
  grid-row: 2 / 3;
  grid-column: 1 / -1;
  margin: auto auto 0;
  width: 100%;
  z-index: 2;
}

.main-header {
  background-color: var(--white-color);
  z-index: 2;
}

.main-navigation {
  position: relative;
}

.main-header-logo {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.site-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.navigation-item {
  flex-basis: 25%;
  text-align: left;
  padding: 15px 0;
}

.navigation-item:nth-of-type(4n-1),
.navigation-item:nth-child(4n) {
  text-align: right;
}

.advantages-list {
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.advantages-grid-pic,
.advantages-grid-pic-inverse {
  display: grid;
  grid-column: 1 / -1;
  background-color: var(--blue-color);;
}

.advantages-grid-pic {
  grid-template-columns: 400px auto;
}

.advantages-grid-pic-inverse {
  grid-template-columns: auto 400px;
}

.advantages-inner-list {
  grid-column: 1 / -1;
  min-height: 330px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.advantages-inner-item {
  flex-basis: calc(100% / 3);
  padding: 60px 0 82px;
}

.advantages-item {
  margin: auto;
}

.advantages-item .caption,
.inner-caption,
.wrap-caption {
  line-height: 21px;
  margin-left: auto;
  margin-right: auto;
}

.wrap-caption {
  width: 310px;
}

.inner-caption {
  width: 300px;
}

.advantages-item .caption {
  width: 258px;
}

.banner {
  display: grid;
  position: relative;
  background-image: url(../img/background.jpg);
  background-color: var(--black-color);
  min-height: 509px;
}

.banner::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 57px;
  width: 100%;
  background-image: url(../img/shape.svg);
  background-repeat: no-repeat;
  background-position: bottom;
}

.welcome-banner {
  margin: auto;
}

.search-section {
  display: grid;
  grid-template-rows: 291px auto;
  min-height: 100vh;
}

.search-column {
  grid-column: 1 / -1;
  z-index: 1;
}

.map-column {
  grid-row: 2 / 3;
  grid-column: 1 / -1;
  background-image: url(../img/map.jpg);
  background-repeat: no-repeat;
  background-position: center;
  border: 0;
}

.sorting-block {
  display: grid;
  grid-template-columns: auto 1fr auto;
  
}

.sorting-column {
  margin-top: 10px;
  padding-left: 46px;
}

.hotels-page {
  min-height: calc(100vh - 180px);
}

.hotels-item {
  display: flex;
  flex-wrap: wrap;
  align-content: stretch;
  padding: 30px 0;
}

.hotels-image-link {
  display: flex;
}

.hotels-description {
  padding-left: 29px;
  flex-grow: 1;
}

.hotels-text {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
}

.hotels-info
{
  margin-top: 2px;
}

.hotels-info:not(:last-child) {
  margin-right: 6px;
}

.hotels-caption {
  margin-bottom: 15px;
}

.hotels-rating {
  align-content: stretch;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.hotel-stars {
  background-image: url(../img/star.svg);
  background-repeat: repeat-x;
  background-position: top right;
  height: 26px;
  margin: 0;
}

.hotel-stars-five {
  width: 97px;
}

.hotel-stars-four {
  width: 76px;
}

.hotel-stars-three {
  width: 59px;
}

.hotel-stars-two {
  width: 40px;
}

.hotel-stars-one {
  width: 19px;
}

.contacts,
.social-list,
.developer {
  flex-basis: calc(100% / 3);
}

.contacts {
  padding-top: 22px;
}

/* Typografy*/

.main-heading,
.inverse-heading {
  font-size: 21px;
  line-height: 21px;
  width: 155px;
  margin: auto;
  text-align: center;
  padding-bottom: 25px;
}

.page-heading {
  font-size: 21px;
  line-height: 26px;
  padding-bottom: 44px;
}

.main-heading,
.page-heading {
  color: var(--black-color);
}

.inverse-heading {
  color: var(--white-color);
}

/* Buttons */

.button {
  border-width: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  cursor: pointer;
}

.search-button, 
.social-button {
  font-size: 21px;
  line-height: 27px;
  background-color: var(--blue-color);
  color: var(--white-color);
}

.search-button:hover,
.social-button:hover,
.detail-button:hover {
  background-color: var(--blue-hover-color);
}

.search-button:focus,
.social-button:focus,
.detail-button:focus {
  background-color: var(--blue-focus-color);
  color: var(--white-light-opacity);
}

.detail-button,
.booking-button {
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: var(--white-color);
  display: block;
  padding: 3px 17px;
}

.detail-button {
  background-color: var(--blue-color);
} 

.booking-button,
.search-form-button {
  background-color: var(--brown-color);
  color: var(--white-color);
}

.booking-button:hover,
.search-form-button:hover {
  background-color: var(--brown-hover-color);
}

.booking-button:focus,
.search-form-button:focus {
  background-color: var(--brown-focus-color);
  color: var(--white-light-opacity);
}

.social-button {
  position: relative;
  display: flex;
  width: 46px;
  height: 48px;
}

.social-button::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  background-repeat: no-repeat;
  background-position: center;
  opacity: 1;
} 

.social-button:hover::after {
  opacity: 1;
}

.social-button:focus::after {
  opacity: 0.3;
}

.twitter-button::after {  
  background-image: url(../img/twitter.svg);
}

.facebook-button::after {  
  background-image: url(../img/fb-icon.svg);
}

.youtube-button::after {  
  background-image: url(../img/youtube.svg);
}

.filter-button {
  border: 2px solid var(--white-color);
  border-radius: 2px;
  background-color: transparent;
  color: var(--white-color);
  text-transform: uppercase;
  padding: 8px 32px;
  display: block;
  margin: 32px auto 0;
  cursor: pointer;
  font-family: "PT Sans", "Arial", sans-serif;
}

.filter-button:hover {
  background-color: var(--white-color);
  color: var(--black-color);
} 

/* Navigation */

.main-navigation {
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  background-color: var(--white-color);
}

.navigation-link {
  color: var(--black-color);
}

.navigation-link:hover {
  color: var(--blue-color);
}

.navigation-link:focus {
  color: var(--black-light-opacity);
}

.navigation-link.active {
  color: var(--brown-color);
}

/* Advantages */

.advantages {
  text-align: center;
  background-color: var(--white-color);
  padding-top: 42px;
  position: relative;
  z-index: 2;
}

.advantages-list {
  background-color: var(--gray-light-color);
  margin-top: 51px;
}

.advantages-item > .advantages-wrap {
  color: var(--white-color);
}

.advantages-inner-list {
  background-color: var(--white-color);
  box-shadow: var(--block-shadow);
}

.advantages-icon {
  position: relative;
  min-height: 77px;
  margin-bottom: 24px;
  background-repeat: no-repeat;
  background-position: top;
}

.home-icon {
  background-image: url(../img/icon-1.svg);
}

.food-icon {
  background-image: url(../img/icon-3.svg);
}

.souvenirs-icon {
  background-image: url(../img/icon-2.svg);
}

.advantages-number {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
}

.advantages-number::before,
.advantages-number::after {
  content: "";
  width: 6px;
  height: 1px;
  background-color: var(--dark-color);
}

.advantages-number-inverse::before,
.advantages-number-inverse::after {
  background-color: var(--white-color);
}

.advantages-number::before {
  margin-right: 5px;
}

.advantages-number::after {
  margin-left: 5px;
}

/* Search */

.search-section {
  background-color: var(--white-color);
  text-align: center;
}

.search-heading {
  font-size: 30px;
  line-height: 24px;
  color: var(--black-color);
  padding-top: 58px;
  padding-bottom: 30px;
}

.search-caption {
  line-height: 24px;
  padding-bottom: 45px;
}

.search-form-button {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  font-family: "PT Sans", "Arial", sans-serif;
  text-transform: uppercase;
  border: 0;
  padding: 30px 0;
  z-index: 2;
  position: relative;
}

.search-block {  
  margin: auto;
  padding: 0 15px 15px;
  width: 568px;
  overflow: hidden;
}

.search-button {
  font-weight: 700;
  text-transform: uppercase;
  padding: 16px 0;
  display: block;
  margin-top: 54px;
}

.form-block {
  padding: 55px;
  background-color: var(--white-color);
  box-shadow: var(--basic-shadow);
  margin: auto;
  width: 458px;
  position: relative;
}

.form-show {
  z-index: 1;
  animation: show 0.6s;
}

.form-hide {
  transform: translateY(-180%);
  z-index: -2;
  transition: 0.85s;
}

.form-error {
  animation: shake 0.6s;
}

/* Form */

.search-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
}

.search-option {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  position: relative;
  text-align: left;
}

.search-option + .search-option {
  margin-top: 29px;
}

.search-option label {
  font-size: 14px;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 0px;
  text-align: left;
  color: var(--black-color);
  width: 112px;
}

.search-input {
  padding: 0 0 0 13px;
  height: 38px;
  border: 0;
  background-color: var(--gray-extra-light-color);
}

.search-input:focus {
  background-color: var(--white-color);
  outline: 2px solid var(--gray-border-color); 
}

.search-input::placeholder,
.search-input {
  font-size: 14px;
  font-weight: 700;
  font-family: "PT Sans", "Arial", sans-serif;
  line-height: 26px;
  letter-spacing: 0px;
  color: var(--black-color);
  text-transform: uppercase;
}

.search-input-date {
  width: 333px;
}

.calendar-button {
  position: absolute;
  right: 9px;
  top: 50%;
  transform: translateY(-50%);
  padding: 0;
  z-index: 2;
  cursor: pointer;
}

.calendar:hover path {
  fill: var(--black-color);
}

.calendar:focus path {
  fill: var(--blue-color);
}

.search-input-number {
  width: 113px;
  text-align: center;
  padding: 0;
}

.search-number + .search-number label {
  width: 65px;
}

.number-wrapper {
  position: relative;
}

.number-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 13px;
  cursor: pointer;
}

.button-minus {
  left: 0;
}

.button-plus {
  right: 0;
}

.sign:hover path, 
.sign:hover rect {
  fill: var(--black-color);
} 

.sign:focus path, 
.sign:focus rect {
  fill: var(--blue-color);
}

/* Sort */

.sorting-block {
  border-bottom: 1px solid var(--gray-border-color);
  padding: 8px 0;
}

.sort-heading {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  color: var(--black-color);
} 

.sort-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: var(--black-color);
  display: inline-block;
  margin-right: 38px;
}

.sort-link {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: var(--black-light-opacity);
  border-bottom: 1px dashed var(--blue-color);
  display: inline-block;
  margin-right: 26px;
}

.sort-link.active {
  color: var(--blue-color);
  border-bottom: 1px dashed transparent;
}

.sort-link:hover {
  color: var(--blue-color);
  border-bottom: 1px dashed var(--blue-color);
}

.sort-link:focus {
  color: var(--black-color);
  border-bottom: 1px dashed transparent;
}

.sort-up {
  margin-right: 5px;
}

.sort-arrow:hover path,
.sort-arrow.active:hover path{
  fill: var(--black-color);
}

.sort-arrow:focus path,
.sort-arrow.active path { 
  fill: var(--blue-color);
}

/* Hotels */

.hotels-item {
  border-bottom: 1px solid var(--gray-border-color);
}

.hotels-link {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  color: var(--black-color);
}

.hotels-link:hover {
  color: var(--blue-color);
} 

.hotels-link:focus {
  color: var(--black-light-opacity);
} 

.hotels-caption {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
}

.rating {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px; 
  text-align: center;
  color: var(--gray-dark-color);
  background-color: var(--gray-extra-light-color);
  padding: 3px 15px;
  display: block;
  margin: 0;
}

/* Filters */

.hotels-filter {
  background-image: url(../img/background-filter.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: var(--black-color);
  position: relative;
  padding-top: 26px;
  padding-bottom: 28px;
}

.filter {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.filter fieldset {
  flex-basis: 25%;
  padding: 0;
  margin: 0;
  border: none;
  color: var(--white-color);
}
.filter fieldset:nth-child(3n+3) {
  flex-basis: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.range-wrapper {
  padding-left: 210px;
}

.filter legend,  
.range-caption { 
  font-size: 16px;
  font-weight: 700;
  line-height: 21px;
  text-align: left;
}

.filter legend {
  margin-bottom: 25px;
}

.range-caption {
  margin-bottom: 10px;
}

.filter-option:not(:last-child) {
  margin-bottom: 20px;
}

.filter-option label {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
  user-select: none;
  padding-left: 38px;
}

.checkbox-on,
.checkbox-off {
  position: absolute;
  top: 0;
  left: 0;
} 

.filter-input:checked + label .checkbox-on {
  display: block;
}

.filter-input:checked + label .checkbox-off {
  display: none;
}

.filter-input + label .checkbox-on {
  display: none;
}

.filter-input-checkbox:checked:disabled + label .checkbox-on path,
.filter-input-checkbox:disabled + label .checkbox-off path {
  fill: var(--gray-extra-dark-color);
}

.range-caption {
  margin-top: 0;
}

.range-filter {
  width: 317px;
  margin-top: 10px;
}

.range-controls {
  position: relative;
  padding-top: 20px;
}

.range-controls .scale {
  height: 2px;
  background-color: var(--white-light-opacity);
}

.range-controls .bar {
  width: 70%;
  height: 2px;
  background-color: var(--white-color);
}

.range-controls .toggle {
  position: absolute;
  top: 10px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid var(--white-color);
  background-color: var(--gray-basic-color);
  border-radius: 50%;
  box-shadow: 0 2px 0 0 var(--gray-basic-opacity);
  cursor: pointer;
}

.range-controls .toggle:hover {
  width: 5px;
  height: 5px;
  border: 9px solid var(--white-color);
}

.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls {
  display: flex;
  justify-content: space-between;
  height: 34px;
  border: 2px solid var(--white-color);
  border-radius: 2px;
}

.price-controls label {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-basis: 50%;
  position: relative;
}

.min-price::after {
  content: "";
  position: absolute;
  top: 7px;
  right: 0;
  width: 2px;
  height: 22px;
  background-color: var(--white-color);
}

.price-controls input {
  background-color: transparent;
  border: 0;
  color: var(--white-color);
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  width: 50%;
  margin-left: 5px;
}

/* Footer */

.page-footer {
  background-color: var(--white-basic-opacity);
  text-align: center;
}

.footer-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.contact-text, 
.contact-link {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: var(--black-color);
}

.contact-link {
  margin-bottom: 9px;
  padding-right: 20px;
}

.contact-text {
  margin-top: 8px;
  margin-bottom: 0;
  padding-right: 10px;
}

.social-list {
  padding-top: 36px;
  padding-bottom: 36px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.social-item:not(:last-child) {
  margin-right: 6px;
}

.developer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.developer p {
  font-style: normal;
  margin-right: 10px;
  padding-left: 20px;
}

.icon-developer:hover path {
  fill: var(--blue-color);
}

.icon-developer:focus path {
  fill: var(--gray-developer-color);
}

/* Animation */

@keyframes show {
  0% {
    transform: translateY(-200px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}