/* Fonts */

@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: local('PT Sans'), 
    local('PTSans'), 
    url('../fonts/ptsans.woff2') format ('woff2'), 
    url('../fonts/ptsans.woff') format ('woff');
}

@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  src: local('PT Sans Bold'), 
    local('PTSans-Bold'), 
    url('../fonts/ptsansbold.woff2') format ('woff2'), 
    url('../fonts/ptsansbold.woff') format ('woff');
}

/* Variables */

:root {
  --black-color:#000000;
  --dark-color:#333333;
  --black-light-opacity:rgba(0, 0, 0, 0.3);
  --gray-extra-dark-color:#6A6A6A;
  --gray-dark-color:#666666;
  --gray-color:#A9A9A9;
  --gray-light-color: #EEEEEE;
  --gray-middle-light:#EBEBEB;
  --gray-extra-light-color:#F2F2F2;
  --gray-border-color:#E5E5E5;
  --gray-sort-color:#CACACA;
  --white-color:#FFFFFF;
  --white-basic-opacity: rgba(255, 255, 255, 0.9);
  --white-light-opacity: rgba(255, 255, 255, 0.3);
  --blue-color:#81B3D2;
  --blue-hover-color:#669EC0;
  --blue-focus-color:#5496BD;
  --brown-color:#766357;
  --brown-hover-color:#604E43;
  --brown-focus-color:#503E33;
  --basic-shadow: 0px 7px 15px rgba(0, 1, 1, 0.15);
  --block-shadow: 0px 5px 15px rgba(0, 1, 1, 0.2);
}

/* Global */

html {
  background-color: var(--gray-extra-light-color);
}

body {
  min-width: 1200px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
  color: var(--dark-color);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.main-heading,
.inverse-heading,
.page-heading,
.search-heading,
.hotels-heading,
.hotels-caption,
.caption {
  margin: 0;
} 

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.full-width {
  display: block;
  margin: 0 auto;
  width: 100%;
}

.block-centering {
  margin: auto;
}

.item-centering {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.content-indent {
  padding-left: 73px;
  padding-right: 73px;
}

/* Grids */

.container {
  width: 1200px;
  margin: 0 auto;
  background-color: var(--white-color);
  box-shadow: var(--block-shadow);
}

.page-body {
  display: grid;
  grid-template-rows: auto auto;
}

.main-page {
  grid-row: 2/3;
  grid-column: 1/-1;
  z-index: 1;
}

.page-footer {
  grid-row: 2/3;
  grid-column: 1/-1;
  margin: auto auto 0;
  width: 100%;
  z-index: 2;
}

.main-header {
  background-color: var(--white-color);
  z-index: 2;
}

.main-navigation {
  position: relative;
}

.main-header-logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.site-navigation {
  grid-column: 1 / -1;
  grid-row: 1 / -1;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.navigation-item {
  text-align: left;
  padding: 15px 0;
}

.navigation-item:nth-of-type(4n-1),
.navigation-item:nth-child(4n) {
  text-align: right;
}

.advantages-list {
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.advantages-grid-pic,
.advantages-grid-pic-inverse {
  display: grid;
  grid-column: 1 / -1;
  background-color: var(--blue-color);;
}

.advantages-grid-pic {
  grid-template-columns: 400px auto;
}

.advantages-grid-pic-inverse {
  grid-template-columns: auto 400px;
}

.advantages-inner-list {
  grid-column: 1 / -1;
  min-height: 330px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.advantages-inner-item {
  flex-basis: 30%;
}

.advantages-inner-item:nth-child(2n) {
  padding: 0 36px;
}

.advantages-item {
  margin: auto;
  min-height: 256px;
}

.advantages-item > p,
.advantages-inner-item > p,
.advantages-wrap > p {
  padding: 25px 50px 0;
  line-height: 21px;
}

.banner {
  display: grid;
}

.background-banner,
.welcome-banner {
  grid-column: 1 / -1;
  grid-row: 1 /-1;
}

.welcome-banner {
  margin: auto;
}

.search-section {
  display: grid;
  grid-template-rows: 291px auto;
  min-height: 100vh;
}

.search-column {
  grid-row: 1 / -1;
  grid-column: 1 / -1;
  z-index: 1;
}

.map-column {
  grid-row: 2 / 3;
  grid-column: 1 / -1;
}

.sorting-block {
  display: grid;
  grid-template-columns: auto 1fr auto;
  
}

.sorting-column {
  margin: auto 0;
  padding-left: 46px;
}

.hotels-page {
  min-height: calc(100vh - 180px);
}

.hotels-item {
  display: flex;
  flex-wrap: wrap;
  align-content: stretch;
  padding: 30px 0;
}

.hotels-image-link {
  display: flex;
}

.hotels-description {
  /* display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: auto auto 1fr; */
  padding-left: 29px;
  flex-grow: 1;
}

.hotels-heading {
  grid-column: 1 / -1;
}

.hotels-text {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
}

.hotels-info
{
  margin-top: 2px;
}

.hotels-info:not(:last-child) {
  margin-right: 6px;
}

.hotels-caption {
  margin-bottom: 15px;
}

.hotels-rating {
  align-self: flex-end;
}

.page-footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

/* Typografy*/

.main-heading,
.inverse-heading {
  font-size: 21px;
  line-height: 21px;
  text-align: center;
  padding-bottom: 25px;
}

.page-heading {
  font-size: 21px;
  line-height: 26px;
  padding-bottom: 42px;
}

.main-heading,
.page-heading {
  color: var(--black-color);
}

.inverse-heading {
  color: var(--white-color);
}

/* Buttons */

.button {
  border-width: 0;
  font-family: "PT Sans", "Arial", sans-serif;
}

.search-button, 
.social-button {
  font-size: 21px;
  line-height: 27px;
  background-color: var(--blue-color);
  color: var(--white-color);
}

.search-button:hover,
.social-button:hover,
.detail-button:hover {
  background-color: var(--blue-hover-color);
}

.search-button:focus,
.social-button:focus,
.detail-button:focus {
  background-color: var(--blue-focus-color);
  color: var(--white-light-opacity);
}

.detail-button,
.booking-button {
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: var(--white-color);
  display: block;
  padding: 3px 17px;
}

.detail-button {
  background-color: var(--blue-color);
} 

.booking-button,
.search-form-button {
  background-color: var(--brown-color);
  color: var(--white-color);
}

.booking-button:hover,
.search-form-button:hover {
  background-color: var(--brown-hover-color);
}

.booking-button:focus,
.search-form-button:focus {
  background-color: var(--brown-focus-color);
  color: var(--white-light-opacity);
}

/* Navigation */

.main-navigation {
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  background-color: var(--white-color);
}

.navigation-link {
  color: var(--black-color);
}

.navigation-link:hover {
  color: var(--blue-color);
}

.navigation-link:focus {
  color: var(--black-light-opacity);
}

.navigation-link.active {
  color: var(--brown-color);
}

/* Advantages */

.advantages {
  text-align: center;
  background-color: var(--white-color);
  padding-top: 42px;
}

.advantages-list {
  background-color: var(--gray-light-color);
  margin-top: 51px;
}

.advantages-item > .advantages-wrap {
  color: var(--white-color);
}

.advantages-inner-list {
  background-color: var(--white-color);
  box-shadow: var(--block-shadow);
}

/* Search */

.search-section {
  background-color: var(--white-color);
  text-align: center;
}

.search-heading {
  font-size: 30px;
  line-height: 24px;
  color: var(--black-color);
  padding-top: 58px;
  padding-bottom: 36px;
}

.search-caption {
  line-height: 24px;
}

.search-form-button {
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  border: 0;
  padding: 30px 0;
}

.search-block {
  background-color: var(--white-color);
  box-shadow: var(--basic-shadow);
  margin: 38px auto 0;
  max-width: 568px;
}

.search-button {
  text-transform: uppercase;
  padding: 16px 0;
  display: block;
}

.form-block {
  padding: 55px;
}

/* Sort */

.sorting-block {
  border-bottom: 1px solid var(--gray-border-color);
  padding: 30px 0;
}

.sort-heading {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  color: var(--black-color);
} 

.sort-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: var(--black-color);
  display: inline-block;
  margin-right: 40px;
}

.sort-link {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: var(--black-light-opacity);
  border-bottom: 1px dashed #81B3D2;
  display: inline-block;
  margin-right: 32px;
}

.sort-link.active {
  color: var(--blue-color);
  border-bottom: 1px dashed transparent;
}

.sort-link:hover {
  color: var(--blue-color);
  border-bottom: 1px dashed #81B3D2;
}

.sort-link:focus {
  color: var(--black-color);
  border-bottom: 1px dashed transparent;
}

.sort-arrow {
  color: var(--gray-sort-color);
}

.sort-arrow.active,
.sort-arrow:focus {
  color: var(--blue-color);
}

.sort-arrow:hover {
  color: var(--black-color);
}

/* Hotels */

.hotels-item {
  border-bottom: 1px solid var(--gray-border-color);
}

.hotels-link {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  color: var(--black-color);
}

.hotels-link:hover {
  color: var(--blue-color);
} 

.hotels-link:focus {
  color: var(--black-light-opacity);
} 

.hotels-caption {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
}

.rating {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px; 
  text-align: center;
  color: var(--gray-dark-color);
  background-color: var(--gray-extra-light-color);
  padding: 3px 15px;
  display: block;
  margin: 0;
}

/* Filters */

.hotels-filter {
  background-image: url(../img/background-filter.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: var(--black-color);
  position: relative;
  padding-top: 26px;
  padding-bottom: 32px;
}

.filter {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.filter fieldset {
  padding: 0;
  margin: 0;
  border: none;
  color: var(--white-color);
}
.filter fieldset:nth-child(3n+3) {
  flex-basis: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.filter legend {
  margin-bottom: 24px;
  font-size: 16px;
  font-weight: 700;
  line-height: 21px;
  text-align: left;
}

/* Footer */

.page-footer {
  background-color: var(--white-basic-opacity);
  text-align: center;
}

.contact-text, 
.contact-link {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: var(--black-color);
}

.contact-link {
  margin-bottom: 9px;
}

.contact-text {
  margin: 0;
}

.social-list {
  padding-top: 36px;
  padding-bottom: 36px;
}

.developer p {
  font-style: normal;
}